.table-cont {
  width: 70%;
  margin: auto;
  margin-top: 4em;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.cell {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.row-head {
  background-color: #ffe88d;
}
.one {
  background-color: purple;
}
.table thead tr {
  border-bottom: 2px solid black;
  border-right: 1px solid black;
  font-weight: 500;
  background-color: #a0bff9;
}

.one {
  background-color: purple;
}

.table tbody tr {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.table td:last-child {
  border-right: none;
}

@media (max-width: 800px) {
  .table {
    font-size: 3.2vw;
  }
}
@media (max-width: 500px) {
  .table {
    font-size: 2.6vw;
  }
}
