.welcome-text {
  text-align: center;
}
.task-container {
  width: 100%;
  height: 100vw;
  background-image: url(https://www.transparenttextures.com/patterns/dirty-old-black-shirt.png);
}

#selected-btn {
  text-decoration: underline;
}
.sort-btn {
  color: green;
}
.sorting {
  font-size: 2em;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1.4em;
}
.task-head {
  display: flex;
  justify-content: center;
}
.task-heading {
  font-size: 2em;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.task-heading div:hover {
  text-decoration: underline;
}
.task-card {
  font-size: 1.2em;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  border: maroon solid 6px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: transform 0.5s;
}
.task-card div {
  display: flex;
  justify-content: center;
}
.task-card:hover {
  transform: scale(1.1);
}
.display-task {
  margin-top: 2em;
  color: goldenrod;
  font-weight: 600;
  font-size: 1.3em;
}

.del-btn {
  width: 15%;
}

.add-task {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.add-btn {
  padding: 0.1px;
  font-size: 1.1em;
  border: black solid 2px;
  border-radius: 20px;
  width: 45%;
  height: 4vw;
  background-color: #f44336;
  color: white;
}
.task-btn:hover {
  background-color: goldenrod;
  color: black;
}
@media (max-width: 830px) {
  .task-container {
    height: 100vw;
  }
  .task-btn {
    height: 4vw;
    width: 70%;
    height: 80%;
  }
  .task-head {
    font-size: 3.8vw;
  }
  .sort-btn {
    font-size: 5vw;
  }
  .task-prop {
    font-size: 3.5vw;
  }
  .add-btn {
    width: 50%;
    height: 40%;
    font-size: 3vw;
  }
}
@media (max-width: 500px) {
  .task-head {
    font-size: 3.9vw;
  }
  .status {
    width: 5%;
    font-size: 3.5vw;
  }
  .delete {
    width: 5%;
    font-size: 3.5vw;
  }

  .del-btn {
    width: 50px;
    font-size: 3vw;
  }
  .task-card {
    width: 95%;
    font-size: 3.7vw;
  }
  .task-btn {
    font-size: 4vw;
    width: 80%;
    height: 50%;
  }
  .add-btn {
    width: 50%;
    height: 40%;
    font-size: 3vw;
  }
}
